.App {
  text-align: center;
}


.popup-style{
    width: 150px;
    margin: 10px auto;
    color: black;
    background-color: lightblue;
    padding: 20px;
    display: none;
}

.termsConditions{
    font-weight: bold;
    color: black;
}

.termsConditions:hover{
    cursor: pointer;
}
.popup-style-show{
    display: flex;
}

